/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #f4f4f4;
}

/* Header Styling with Background Image */
header {
    text-align: center;
    padding: 40px;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #fff;
}

header p {
    font-size: 1.1em;
    margin-top: 10px;
}

/* Section Styling */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top, Middle, and Bottom Image Styling */
#top-image img, #middle-content img, #bottom-image img {
    max-width: 100%;
    border-radius: 12px;
    margin: 20px 0;
    max-width: 300px;
    height: auto;
}

/* Event Details and RSVP Styling */
#event-details h2, #rsvp h2, #middle-content h2 {
    font-family: 'Great Vibes', cursive;
    color: #555;
    font-size: 1.8em;
    margin-bottom: 10px;
}

#event-details p, #rsvp p, #middle-content p {
    font-size: 1.2em;
    color: #333;
}

/* Countdown Styling */
#countdown {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #444;
}

#countdown h3 {
    font-size: 1.5em;
    font-family: 'Great Vibes', cursive;
    color: #555;
}

#time-remaining {
    
    font-size: 1.5em;
    font-weight: bold;
    color: #555;
}

/* RSVP Button Styling */
#rsvp button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#rsvp button:hover {
    background-color: #218838;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
    font-size: 1.1em;
}
